public_subnets = {
  "public-1" = {
    cidr_block        = "x.x.x.x/xx"
    availability_zone = "your-az-here"
  }
  "public-2" = {
    cidr_block        = "x.x.x.x/xx"
    availability_zone = "your-az-here"
  }
}

private_subnets = {
  "private-1" = {
    cidr_block        = "x.x.x.x/xx"
    availability_zone = "your-az-here"
  }
  "private-2" = {
    cidr_block        = "x.x.x.x/xx"
    availability_zone = "your-az-here"
  }
}

nat_gateway_subnet = "your-subnet-here"
app_name = "name of your application"
encryption_type = "level of encryption you wish to set"
domain_name = ""
subdomain = ""

vpc_cidr        = "x.x.x.x/xx"
aws_region      = ""
task_cpu        = "what is required?"
task_memory     = "what is required?"
container_port  = "App port number"
container_image = ""
target_port     = ""
health_check_path = "/"
desired_count = ""